In [1]:
# https://pandas.pydata.org/docs/user_guide/10min.html#min

import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range("20130101", periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.447485  0.728706  0.344316 -1.776155
2013-01-02  0.647249  0.952396 -1.932411  1.039181
2013-01-03 -0.674492  1.072914 -1.485314  1.909259
2013-01-04 -0.557662  0.745981  0.502491 -1.543183
2013-01-05  0.520348  0.026665 -0.118400  1.079709
2013-01-06 -0.001157 -1.616919 -2.486223 -1.314414

In [6]:
# creating df with hardcoded values

df2 = pd.DataFrame (     
    {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
   }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df.to_numpy()

array([[ 1.44748480e+00,  7.28706492e-01,  3.44316224e-01,
        -1.77615526e+00],
       [ 6.47249166e-01,  9.52396410e-01, -1.93241079e+00,
         1.03918052e+00],
       [-6.74492196e-01,  1.07291425e+00, -1.48531428e+00,
         1.90925871e+00],
       [-5.57661879e-01,  7.45980569e-01,  5.02490967e-01,
        -1.54318272e+00],
       [ 5.20347585e-01,  2.66646865e-02, -1.18400089e-01,
         1.07970856e+00],
       [-1.15693480e-03, -1.61691917e+00, -2.48622314e+00,
        -1.31441364e+00]])

In [9]:
arr = df2.to_numpy()
arr

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [11]:
# np.sort(arr) --> will get error
# doubt very much can happen with arr b/c the datatypes are not homogenous

TypeError: '>=' not supported between instances of 'Timestamp' and 'int'